.outerDiv {
    width: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    margin: 2em 2em 0 2em;
}

.cardDiv {
    border: solid 1px rgb(198, 198, 198);
    border-radius: 20px;
    padding: 2em;
    text-align: center;
}

.cardDiv:hover, .cardDiv:active {
    background-color: rgb(239, 239, 239);
}

.cover {
    width: 180px;
    margin: auto;
}

.title {
    font-size: 1em;
    font-weight: bold;
    margin: 1em 0 0 0;
    
}

.tracks {
    font-size: 1em;
    margin: 0 0 0 0;
}

.year {
    font-size: 0.8em;
    color: rgb(109, 109, 109);
    margin: 0 0 0 0;
}

